section.grid
{
    display: grid;
    grid-template-columns: 40% 60%;
}
section.grid .form
{
    padding: 40px;
}
section.grid div.img img
{
    max-width: 100% ; 
    height: 100%;
}

section.grid .form .link
{
    color: var(--gold);
    font-size: 17px;
    font-weight: bolder;
}

section.grid  span.or
{
    display: block; 
    text-align: center;
    position: relative;
    margin: 30px 0;
    font-size: 20px;
    color: var(--black);
}
section.grid  span.or::after
{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(15% , 50%);
    height: 2px;
    width: 40%;
    background-color: var(--gold);
}
section.grid  span.or::before
{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-115% , 50%);
    height: 2px;
    width: 40%;
    background-color: var(--gold);
}

section.grid .form_input
{
    position: relative;
}
section.grid label
{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(25%);
    color: var(--black);
    pointer-events: none;
    font-size: 16px;
    transition: all ease .5s;
    opacity: .5;
}
section.grid label.on
{
    transform: translate(-20px, -30px);
    font-size: 13px;
    color: var(--gold);
    opacity: 1;
}
section.grid input
{
    border: none;
    border-bottom: 2px solid var(--gold);
    background-color: white !important;
    outline: none !important;
    color: var(--black);
    width: 100%;
    padding: 10px;
    margin-top: 40px;
}
section.grid .form .button
{
    margin-top: 20px;
    width: 100%;
    background-color: var(--gold);
    color: black;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
    position: relative;
    overflow-x: hidden;
}
section.grid .form .button::after
{
    position: absolute;
    content: '';
    width: 20px;
    height: 100%;
    transform: skew(-30deg);
    background-color: rgba(255, 255, 255, 0.39);
    left: -35px;
    top: 0;
    transition: all ease .5s;
}
section.grid .form .button:hover:after
{
    transform: translateX(500px) skew(-30deg);
}
/**************button*********/

section.grid .authen
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}
section.grid .authen .mybtn
{
    height: 50px !important;
    text-transform: capitalize;
    font-size: 16px !important;
    font-weight: bold;
    border: 1px solid var(--black) !important;
}
.kep-login-facebook
{
    width: 100% ;
    padding: 0 !important;
    height: 50px !important;
    font-size: 18 !important;
    position: relative;
    font-weight: bold !important;
    text-transform: capitalize !important;
}
section.grid .authen .icone
{
    transform: translateX(50%);
    font-size: 1.4em;
    position: absolute;
    left: 5px;
    
}
section.grid .authen .mybtn span
{
    margin: 0 auto;
    transform: translateX(-20px);
}

/* --------------------media --------------- */

@media (max-width:575px ) {
    section.grid
{
    display: grid;
    grid-template-columns: 100% ;
}
section.grid .form
{
    padding: 10px;
}
section.grid div.img 
{
    display: none;
}
}

@media (min-width: 576px) and (max-width: 768px ) {
    section.grid
{
    display: grid;
    grid-template-columns: 100% ;
}
section.grid .form
{
    padding: 10px;
}
section.grid div.img 
{
    display: none;
}
}
@media (min-width: 769px) and (max-width: 992px ) {
  
    section.grid
{
    display: grid;
    grid-template-columns: 50% 50%;
}
section.grid .form
{
    padding: 20px;
}
}
@media (min-width: 993px) and (max-width: 1200px ) {
 
}