.section_footer{

    background-color: var(--black);
}


.global_footer_grid{
    display: grid;
    grid-template-columns: 42% 29% 29% ;
    margin-top: 75px;
    padding: 40px 20px 100px 20px; 
}
.global_footer_grid h5 {
    font-size: 17px;
    margin-bottom: 25px;
    color: #fff;
   
}

.global_footer_grid  {
    font-size: 17px;
    color: var(--gray);
}
.footer_hover
{
    position: relative; 
     transition: all ease-in .5s;
}
.footer_hover::before
{
    content: '';
    position: absolute;
    left: -15px;
    top: 50%;
    height: 1px;
    width: 0;
    background-color:var(--gold); 
    transition: all ease-in .5s;
}

.footer_hover:hover
{
    margin-left: 15px;
    color:var(--gold);
   cursor: pointer;
}
.footer_hover:hover:before
{
    width: 10px;
}
.social_media > .facebook_logo:hover{
    color:  var(--gold);
    text-decoration: none;
}


.facebook_logo{
        color: #655b50;
    text-decoration: none;
}


/* --------------------media --------------- */

@media (max-width:575px ) {
 .global_footer_grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap:8px;
    
}
 .global_footer_grid1{
    grid-column: 1/3 ; 
    grid-row: 1;  
}
 .global_footer_grid2{
    grid-column: 1/2 ; 
    grid-row: 2;  
}
 .global_footer_grid3{
    grid-column: 2/3 ; 
    grid-row: 2;  
}
}

@media (min-width: 576px) and (max-width: 768px ) {
  .global_footer_grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap:8px;
    
}
 .global_footer_grid1{
    grid-column: 1/3 ; 
    grid-row: 1;  
}
 .global_footer_grid2{
    grid-column: 1/2 ; 
    grid-row: 2;  
}
 .global_footer_grid3{
    grid-column: 2/3 ; 
    grid-row: 2;  
}

}
@media (min-width: 769px) and (max-width: 992px ) {
  
     .global_footer_grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap:8px;
    
}
 .global_footer_grid1{
    grid-column: 1/3 ; 
    grid-row: 1 ;  
}
 .global_footer_grid2{

    grid-column: 1/2 ; 
    grid-row: 2;  
}
 .global_footer_grid3{
    grid-column: 2/3 ; 
    grid-row: 2;  
}

}


.SocialMedia
{
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.SocialMedia .facebook_logo, .SocialMedia .instagram_logo
{
    display: block;
    color: var(--gold);
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}

.SocialMedia .facebook_logo:hover, .SocialMedia .instagram_logo:hover
{
    animation: anime 1s ease-in-out infinite alternate ;
}

@keyframes anime {
    0% {
        transform: translateY(0) ;
        
    }
    100% {
        transform: translateY(-10px) scale(1.1);
        
    }
}